.practice-section {
  width: 100%;
  display: flex;
  gap: 121px;
  align-items: center;
  justify-content: center;
  margin-bottom: 187px;
}
.practice-left img {
  filter: drop-shadow(-24px 7px 0px #0059ff);
  border-radius: 150px 60px;
  width: 542px;
  height: 514px;
  flex-shrink: 0;
  margin-left: 64px;
}
.practice-right {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 40px 30px;
  text-align: left;
}
.practice-right h4 {
  color: #051238;
  font-family: Manrope;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 40px */
  letter-spacing: -1.8px;
  padding-bottom: 32px;
}
.practice-right p {
  padding-bottom: 32px;
  color: rgba(5, 18, 56, 0.8);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 16px */
  letter-spacing: -0.3px;
}
.practice-right p span {
  color: #051238;

  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.3px;
}
.practices .pract {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 21px;
}
.pract h5 {
  color: rgba(5, 18, 56, 0.8);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  letter-spacing: -0.8px;
}
@media screen and (max-width: 968px) {
  .practice-section {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 90px;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
  }
  .practice-left img {
    width: 341.542px;
    height: 207.027px;
    margin: 0px auto;
  }
  .practice-right {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .practice-section {
    display: flex;
    gap: 40px;
  }
  .practice-right p {
    text-align: left;
    color: rgba(5, 18, 56, 0.8);
    width: 90%;
    font-family: Manrope;
    padding: 0px 22px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */
    letter-spacing: -0.3px;
  }
  .practices {
    margin-top: 22px;
  }
}
