.youtube-container {
  position: relative;
  width: 100%;
  max-width: 664px; /* Adjust the max-width as needed */
}

.youtube {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.youtube iframe {
  width: 400px;
}

@media (max-width: 768px) {
  .youtube::after {
    right: -13px;
    bottom: -210px;
    height: 100%;
  }
}
