.container-afteracademy {
  width: 100%;
  margin: 195px 0px 204px 0px;
}
.afteracademy_section {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  align-items: center;
}
.left-afteracademy {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.container-afteracademy h3 {
  color: #051238;
  font-family: "Manrope";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 40px */
  letter-spacing: -1.8px;
  margin-bottom: 32px;
}
.left-afteracademy p {
  color: rgba(5, 18, 56, 0.8);
  font-family: "Manrope";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  letter-spacing: -0.8px;
  margin-bottom: 6px;
}
.left-afteracademy p:last-child {
  color: rgba(5, 18, 56, 0.6);
  font-family: "Manrope";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
  letter-spacing: -0.8px;
}
.right-afteracademy {
  display: flex;
  justify-content: flex-start;
}
@media screen and (max-width: 1168px) {
  .container-afteracademy {
    margin: 80px 0px;
  }
  .container-afteracademy h3 {
    color: #051238;
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 24px */
    letter-spacing: -1.8px;
  }
  .afteracademy_section {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
  }
  .right-afteracademy {
    display: flex;
    justify-content: center;
  }
  .right-afteracademy img {
    width: 80%;
  }
}
